.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom:hover {
    opacity: 0;
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}

.checkbox-custom+.checkbox-custom-label:before {
    content: '';
    background: #fff;
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    background: transparent;
    border: solid aqua;
    border-width: 0 3px 5px 0;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    border-radius: 0px;
    margin: 0px 10px 0px 5px;
}